
.container {
    border: 3px solid blue;
    padding: 0px 40px 40px;
    
   
    &__image {
        width: 100px;
        height: 100px;
        margin: 0px 0px 0px 0;
        float: left;
    }
    &__text {
        display: inline;
        text-align: center;
    }
}
body {
    padding: 50px;
}
.navbar{
  
    width: 100%;
}
.nav{
  
    position: absolute;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 0px;
    cursor: pointer;
    border-radius: 10px;
  }
  .left{
      float: left;
      padding-right: 30px;
      padding-left: 20px;
      position: fixed;
  }
  .right{
    padding-left: 15%;
  }
  